version: '2'
services:
    faucet-app:
        image: faucet
        container_name: faucet-app
        ports:
            - 3435:3434
    faucet-postgresql:
        image: postgres:9.6.2
        volumes:
            - ~/volumes/faucet/postgresql/:/var/lib/postgresql/
        environment:
            - POSTGRES_DB=test-faucet
            - POSTGRES_USER=postgres
            - POSTGRES_PASSWORD=admino0o0oo0
        ports:
            - 5452:5432
